<header>
  <div class="logo">
    <!--Set up the angular routing system-->
    <a href="#">
      <img src="" alt="" />
    </a>
  </div>
  <nav>
    <div class="default-nav">
      <a href="">Home</a>
      <a href="">Podcast</a>
      <a href="">Contact us</a>
    </div>
    <div class="auth-nav">
      <a href="">Log in</a>
      <a href="">Sign up</a>
    </div>
    <div class="user-nav">
      <a href=""><i class="fa fa-circle-o-notch" aria-hidden="true"></i></a
      ><!--Change icon to fa-icon tag, create post icon-->
      <a href=""><i class="fa fa-circle-o-notch" aria-hidden="true"></i></a
      ><!--Change icon to fa-icon tag, user account icon-->
    </div>
  </nav>
</header>
